grant {
    permission java.io.FilePermission "${user.home}${/}jargo", "read";
    permission java.io.FilePermission "${user.home}${/}jargo${/}jacoco.exec", "write";
    permission java.lang.RuntimePermission "shutdownHooks";
};

